---
layout: default
title:  Все выпуски «Воскресного эфира»
---

<section class="hero is-fullheight" id="section1">
  <div class="hero-content">
    <div class="container">
      <a href="{{ site.baseurl }}/"><img class="is-centered" src="{{ site.baseurl }}/public/img/moonant-icon.svg"/></a>
      <h1 class="title is-2">{{ page.title }}</h1>
      <h2 class="subtitle">«Воскресный эфир» — это живая беседа, обсуждение последних и предпоследних новостей, мысли вслух, декламации и бормотанье — а также обзор ротации на следующую неделю.</h2>
      <div class="columns navbar">
          <div class="column is-4 is-left">
              <h2 class="subtitle">&#8612; <a href="{{ site.baseurl }}/">На главную</a></h2>
          </div>
          <div class="column is-right">
              {% include arhivelinks.html %}
          </div>
      </div>

      {% for post in site.categories.sunday-live %}
      <h5 class="subtitle is-4">— 
          {% assign m = post.date | date: "%-m" %}
          {{ post.date | date: "%-d" }}
          {% case m %}{% when '1' %}января{% when '2' %}февраля{% when '3' %}марта{% when '4' %}апреля{% when '5' %}мая{% when '6' %}июня{% when '7' %}июля{% when '8' %}августа{% when '9' %}сентября{% when '10' %}октября{% when '11' %}ноября{% when '12' %}декабря{% endcase %}
          {{ post.date | date: "%Y" }} —
      </h5>
      <div class="box">
            <div class="columns">
                <div class="column is-right is-4 column-left-0 is-hidden-touch">
                    {% if post.image %}
                    <a href="{{ site.baseurl }}{{ post.url }}"><img class="image sunday-live is-square" src="{{ site.baseurl }}/public/sunday-live/{{ post.image }}" alt="Воскресный эфир - Выпуск {{ post.number }}: {{ post.title }}"></a>
                    {% endif %}
                </div>
                <div class="column is-left content column-right">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        <h4 class="episode title is-4">Выпуск #{{ post.number }}: {{ post.title }}</h4></a>
                    <p>{{ post.description }}</p>
                    {% if post.audio %}
                    <p>
                        <span class="is-hidden-mobile">
                            <audio class="sunday-live" src="{{ post.audio }}" controls preload="none"></audio>
                        </span>
                    </p>{% endif %}
                    <p>
                        {% if post.audio %}
                            <a class="button is-hidden-mobile" href="{{ post.audio }}"><i class="fa fa-arrow-down"></i>.mp3</a>
                            <a class="button is-primary is-hidden-tablet" href="{{ post.audio }}"><i class="fa fa-play"></i>Слушать</a>
                        {% endif %}
                        {% if post.yt %}
                            <a class="button" href="https://youtu.be/{{ post.yt }}?list=PLk9k93prdbkFQ8y1qMF3kebV5djqLnO9I"><i class="fa fa-youtube-play"></i>YouTube</a>
                        {% endif %}
                        {% if post.vk %}
                            <a class="button" href="{{ post.vk }}" ><i class="fa fa-vk"></i>ВКонтакте</a>
                        {% endif %}
                    </p>
                    <hr/>
                    <a href="{{ site.baseurl }}{{ post.url }}" class="button is-primary">Полное описание и комментарии</a>
                </div>
            </div>
      </div>
      {% endfor %}
    <div class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
    {% else %}

    {% endif %}
    {% if paginator.previous_page %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
    {% else %}

    {% endif %}
    </div>
    <div class="columns navbar">
      <div class="column is-4 is-left">
          <h2 class="subtitle">&#8612; <a href="{{ site.baseurl }}/">На главную</a></h2>
      </div>
      <div class="column is-right">
          {% include arhivelinks.html %}
      </div>
    </div>
    </div>
    <br/>
  </div>
</section>
<div id="player" class="is-hidden-desktop is-hidden-desktop"> </div>
