/*_General*/
html {
	background-color: #00a8ab;
  	background: -moz-linear-gradient(top, #00a8ab 0%, #002624 100%);
  	background: -webkit-linear-gradient(top, #00a8ab 0%,#002624 100%);
  	background: linear-gradient(to bottom, #00a8ab 0%,#002624 100%);
	font-size: 16px;
	color: #262626;
}

body, button, input, select, textarea {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background: url(../img/moonant-pattern.svg) top center;
}

a {
	color: #00a8ab;
	-webkit-transition: ease-out all 0.2s;
	transition: ease-out all 0.52;
}

a:hover {
	color: #028688;
	-webkit-transition: ease-out all 0.3s;
	transition: ease-out all 0.3s;
}

a.button:not(:last-child) {
	margin-bottom: 5px;
	margin-right: 5px;
}

.button {
	color: #66696c;
}

dl {
	list-style: none;
	margin-bottom: 0.5em;
}

strong {
	font-weight: 500;
}

hr {
	border-top-color: #dadada;
	margin: 18px 0 20px 0;
	opacity: .3;
}

* + * {
  margin-top: 1.5em;
}

a[href^="http"]:empty::before {
  content: attr(href);
}

a[href]:not([class]) {
  text-decoration: none;
}

.hero p {
	color: rgba(255, 255, 255, 0.8);
}

.hero .box p {
	color: #333;
}

.content ul {
	list-style: circle;
	margin: 0.5em 2em 1em;
}

.content blockquote {
	background: #fff;
	border-color: #00a8ab;
}

.content h4 {
	margin-bottom: 16px;
}

.is-lh {
	line-height: 2em;
}

.title {
	color: white;
}

.subtitle {
	color: rgba(255,255,255,0.85);
}

.subtitle a {
	color: #fff;
}

.title + .subtitle {
	margin-top: 0;
}

.hero-content {
	padding: 40px 0;
}

.hero {
	background: none;
}

.button.is-primary {
	background: #00a8ab;
}

.button.is-primary:hover, .button.is-primary:focus {
	background: #028688;
}

.box {
	margin: 40px auto 80px;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.box h4.subtitle, p {
	color: #444;
}

.box h4 {
	font-weight: 400;
}

div.column.is-5.column-player {
	padding: 0;
}

.box .column-left, .box .column-right {
	padding: 30px;
	overflow-y: hidden;
}

.box .column-left {
	background: rgba(255,255,255,0.9);
	margin-bottom: 0;
}

.box .column-left-0 {
	margin: 0;
	padding: 0;
	background: rgba(255,255,255,0.9);
}

.box .column-left-0 img.sunday-live {
	min-height: 336px;
	width: auto;
	margin: 0;
	object-fit: cover;
}

.box .column-left-0 .image.is-square {
	padding: 0;
}

.box .column-right {
	background: #fff;
}

.box #toggleText {
	background: #fff;
	margin-top: -10px;
	border-top: 1px solid #00a8ab;
}

/*_Episode*/
h3.episode {
	text-transform: uppercase;
	color: #00a8ab;
}

h4.episode {
	text-transform: uppercase;
	color: #00a8ab;
	font-size: 24px;
}

audio.sunday-live {
	width: 100%;
}

.button.intext {
	margin-top: -5px;
}

.button .fa {
	margin: 0 0 0 -7px;
}

.button.icon-fa .fa {
	margin: 0 -7px 0 -7px;
}

.button.is-small .fa {
	margin: -3px -4px 0 -4px;
}

.buttons {
	margin-top: 5px;
}

.buttons li {
	margin: 0;
}

#disqus_thread {
	padding: 10px 20px;
}

.navbar {
	margin-top: 40px;
}

.navbar .button.is-primary {
	background: rgba(2, 134, 136, .4);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar .button.is-primary:hover, .navbar .button.is-primary:focus {
	background: rgba(2, 134, 136, 1);
	border: 1px solid rgba(255, 255, 255, 0.9);
}

/*_Footer*/
.footer {
	position: fixed;
	height: 60px;
	background: #fff;
	z-index: 900;
	top: 0px;
	padding: 0;
	padding-top: 10px;
	overflow: hidden;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.footer .play-bar {
	border-left: 1px solid #d3d6db;
	border-right: 1px solid #d3d6db;
	height: 60px;
	font-family: 'kast-mdi' !important;
	font-style: normal;
	font-size: 26px;
}

.footer .play-bar a i {
	margin: -10px;
	padding: 0;
	width: calc(100%+20px);
	height: 60px;
	display: block;
	line-height: 60px;
	font-style: normal;
}

.footer .play-bar a i:hover {

	color: #00a8ab;
}

.footer .play-bar a i:active {
	background: #00a8ab;
	color: #fff;
}

.footer .play-title {
	line-height: 40px;
	margin-left: 10px;
	overflow-x: hidden;
}

.footer:hover .play-bar {

}

.footer #nowplay-share h6 {
	margin-bottom: 5px;
	font-size: 10px;
	text-transform: uppercase;
}

/*_YShare */

ul.ya-share2__list.ya-share2__list_direction_horizontal {
	margin: 0;
}

/*_Player*/

.box .column-player {
	background: #e6f1f1;
	z-index: 1;
}

#kast {
	width: 100%;
	min-height: 408px;
}

#kast.kast-transparent.kast-current {
	height: 408px;
}

#kast, #kast-play, i.kast-mdi.kast-mdi-play {
	box-shadow: none;
}

transparent.kast-colors-dynamic.kast-maximized.kast-left.kast-not-full-statusbar.kast-current.kast-custom-container.kast-offline {
	z-index: 1;
}

.kast-transparent.kast-current #kast-play {
	bottom: 60px;
	right: 120px;
}

#kast-top {
	background-position: center top;
	background-image: url(../img/cover.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
}

#kast-np-title {
	padding-top: 7px;
}

#kast-np-artist {
	padding-top: 15px;
}

div#kast-top-content.kast-top-content {
	background: -moz-linear-gradient(top,  rgba(230,241,241,0.6) 0%, rgba(230,241,241,1) 71%, rgba(230,241,241,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(230,241,241,0.6) 0%,rgba(230,241,241,1) 71%,rgba(230,241,241,1) 100%);
	background: linear-gradient(to bottom,  rgba(230,241,241,0.6) 0%,rgba(230,241,241,1) 71%,rgba(230,241,241,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce6f1f1', endColorstr='#e6f1f1',GradientType=0 );


}

p#kast-np-artist, p#kast-np-title {
	color: rgba(0, 0, 0, .87)!important;
}

i.kast-mdi-album:before {
	content: none;
}

#kast-bar {
	display: none;
}

/*_LikeBtns*/

.likebtn-wrapper {
	line-height: 10px !important;
}

.lb-like .lb-a, .lb-dislike .lb-a {
	color: #d3d6db!important;
}

/*banner*/
.brain {
	margin-top: 80px;
}

@media screen and (max-width: 769px) {
	.box .column-left, .box .column-right {
		padding: 20px;
	}
}
