<p>Архив:
    <a href="http://j.mp/sunday-live-yt" class="button is-small is-primary"><i class="fa fa-youtube-play"></i> YouTube</a>
    <a href="http://j.mp/sunday-live-vk" class="button is-small is-primary"><i class="fa fa-vk"></i> ВКонтакте</a>
    <a href="http://moon-ant.com/public/sunday-live/itunes.xml" class="button is-small is-primary"><i class="fa fa-music"></i>  iTunes</a>
    <a href="http://moon-ant.com/public/sunday-live/itunes.xml" class="button is-small is-primary"><i class="fa fa-rss"></i> RSS</a>
</p>
