<footer class="footer is-fullwidth is-centered">
  <div class="container">
    <div class="content">
        <div class="columns">
            <div class="column is-1 play-bar">
                <a href="#" class="play kast-mdi kast-mdi-play"><i class="kast-mdi kast-mdi-play"></i></a>
                <a href="#" class="pause kast-mdi kast-mdi-pause"><i class="kast-mdi kast-mdi-pause"></i></a>
            </div>
            <div class="column is-left play-title">
                <p id="nowplay"> </p>
            </div>
            <div class="column is-2 play-bar">
                <span id="nowplay-share"> </span>
            </div>
        </div>
    </div>
  </div>
</footer>
