<header class="is-centered">
    <div class="container">
    <style>.concert-banner {width: 980px;height: 200px;background: url('http://moon-ant.com/public/img/ec_banner_bg3.png') center center;background-size: cover;text-align: center;display: table-cell;vertical-align: middle;color: #fff;-moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased;text-rendering: optimizeLegibility;}.concert-banner h2 {text-transform: uppercase;font-weight: 300;font-size: 2.15em;margin: 0;letter-spacing: 0.2em;}.concert-banner h4{font-weight: 300;font-size: 1em;margin: 0;} .concert-banner p {color:#fff; text-transform: uppercase;font-weight: 300; font-size: 1.25em;} .concert-banner p strong {font-weight: 700;}</style>
    <div class="concert-banner"><h2>Вечерний концерт</h2><h4>на радио «Лунный Муравей»</h4><p><strong>ПТ 20:00</strong> Петербург / <strong>СБ 20:00</strong> Бостон</p></div>
    </div>
</header>
