<header class="is-centered">
    <div class="container">
        <div class="brain">
            <a href="http://brainweekspb.org" target="_blank">
                <img class="is-hidden-touch" src="{{ site.baseurl }}/public/img/brain-wide.png" alt="14—18 марта 2016. НЕДЕЛЯ МОЗГА - Мозг обучающийся. В рамках Международной Недели Мозга (Brain Awareness Week)"/>
                <img class="is-hidden-mobile is-hidden-desktop" src="{{ site.baseurl }}/public/img/brain-normal.png" alt="14—18 марта 2016. НЕДЕЛЯ МОЗГА - Мозг обучающийся. В рамках Международной Недели Мозга (Brain Awareness Week)"/>
                <img class="is-hidden-tablet" src="{{ site.baseurl }}/public/img/brain-mobile.png" alt="14—18 марта 2016. НЕДЕЛЯ МОЗГА - Мозг обучающийся. В рамках Международной Недели Мозга (Brain Awareness Week)"/>
            </a>
        </div>
    </div>
</header>
