---
layout: default
---

<article class="post">
  <section class="hero is-fullheight" id="section1">
    <div class="hero-content">
      <div class="container">
        <a href="{{ site.baseurl }}/"><img class="is-centered" src="{{ site.baseurl }}/public/img/moonant-icon.svg"/></a>

        <h1 class="title is-2">{{ page.title }}</h1>
        <h2 class="subtitle">«Воскресный эфир», выпуск {{ page.number }} от {% assign m = page.date | date: "%-m" %}
        {{ page.date | date: "%-d" }}
        {% case m %}{% when '1' %}января{% when '2' %}февраля{% when '3' %}марта{% when '4' %}апреля{% when '5' %}мая{% when '6' %}июня{% when '7' %}июля{% when '8' %}августа{% when '9' %}сентября{% when '10' %}октября{% when '11' %}ноября{% when '12' %}декабря{% endcase %}
        {{ page.date | date: "%Y" }} года</h2>

        <div class="columns navbar">
            <div class="column is-4 is-left">
                <h2 class="subtitle">&#8612; <a href="{{ site.baseurl }}/sunday-live/">Все выпуски</a></h2>
            </div>
            <div class="column is-8 is-right">
                {% include arhivelinks.html %}
            </div>
        </div>

        <div class="box">
              <div class="columns">
                  <div class="column is-right is-5 content column-left">
                      {% if page.image %}
                      <img class="sunday-live" src="{{ site.baseurl }}/public/sunday-live/{{ page.image }}" alt="Воскресный эфир - Выпуск {{ page.number }}: {{ page.title }}">
                      {% endif %}
                      <div class="buttons">
                          {% if page.audio %}
                          <p class="is-hidden-mobile">
                              <audio class="sunday-live" src="{{ site.baseurl }}/public/sunday-live/{{ page.audio }}" controls></audio>
                          </p>
                          {% endif %}
                          <p>
                              {% if page.yt %}
                              <a class="button" href="{{ page.yt }}"><i class="fa fa-youtube-play"></i>YouTube</a>
                              {% endif %}
                              {% if page.vk %}
                              <a class="button" href="{{ page.vk }}" ><i class="fa fa-vk"></i>ВКонтакте</a>
                              {% endif %}
                              {% if page.audio %}
                              <a class="button is-hidden-mobile" href="{{ site.baseurl }}/public/sunday-live/{{ page.audio }}"><i class="fa fa-arrow-down"></i>.mp3</a> <a class="button is-primary is-hidden-tablet" href="{{ site.baseurl }}/public/sunday-live/{{ page.audio }}"><i class="fa fa-play"></i>Слушать</a>
                              {% endif %}
                          </p>
                          </dl>
                      </div>
                  </div>
                  <div class="column is-left is-7 content column-right">
                      {{ page.content }}
                  <hr/>
                  {% include share.html %}
                  <a href="{{ site.baseurl }}/sunday-live/" class="button is-pulled-right">Все выпуски</a>
                      <span class="is-clearfix"> </span>
                  </div>
              </div>
              <div class="columns">
                  <div id="toggleText" class="column is-12 is-left">
                      <div id="disqus_thread"></div>
                          <script>
                          var disqus_config = function () {
                            //  this.page.url = '{{ page.url }}';
                            //  this.page.identifier = 'VE_{{ page.number }}';
                            //  this.page.title = 'Вечерний эфир {{ page.number }}';
                          };
                          (function() {
                          var d = document, s = d.createElement('script');
                          s.src = '//moon-ant.disqus.com/embed.js';
                          s.setAttribute('data-timestamp', +new Date());
                          (d.head || d.body).appendChild(s);
                          })();
                          </script>
                          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                  </div>
              </div>
          </div>

      <div class="columns navbar">
          <div class="column is-4 is-left">
              <h2 class="subtitle">&#8612; <a href="{{ site.baseurl }}/sunday-live/">Все выпуски</a></h2>
          </div>
          <div class="column is-8 is-right">
              {% include arhivelinks.html %}
          </div>
      </div>
        <br/>
      </div>
    </div>
  </section>
</article>
<div id="player" class="is-hidden-desktop is-hidden-desktop"> </div>
<!-- {% if site.related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for page in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ page.url }}">
          {{ page.title }}
          <small><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %} -->
